[package]
name = "gitu"
description = "A git client inspired by Magit"
version = "0.19.2"
edition = "2021"
license = "MIT"

[[bench]]
name = "show"
harness = false

[dev-dependencies]
pretty_assertions = "1.4.0"
temp-dir = "0.1.13"
criterion = "0.5.1"
insta = "1.38.0"
unicode-width = "0.1.12"

[profile.release]
strip = true

[dependencies]
arboard = { version = "3.4.0", default-features = false, features = ["windows-sys"] }
chrono = "0.4.38"
clap = { version = "4.5.4", features = ["derive"] }
crossterm = "0.27.0"
derive_more = "0.99.17"
etcetera = "0.8.0"
figment = { version = "0.10.18", features = ["toml"] }
git-version = "0.3.9"
git2 = { version = "0.18.3", default-features = false }
itertools = "0.12.0"
log = "0.4.21"
nom = "7.1.3"
ratatui = { version = "0.26.2", features = ["serde"] }
serde = { version = "1.0.200", features = ["derive"] }
similar = { version = "2.5.0", features = ["unicode", "inline"] }
simple-logging = "2.0.2"
toml = "0.8.12"
tui-prompts = "0.3.11"
tree-sitter = "0.20.0"
tree-sitter-highlight = "0.20.1"
tree-sitter-rust = "0.20.4"
tree-sitter-toml = "0.20.0"
tree-sitter-javascript = "0.20.0"
tree-sitter-c = "0.20.0"
tree-sitter-json = "0.20.0"
tree-sitter-cpp = "0.20.0"
tree-sitter-ruby = "0.20.1"
tree-sitter-haskell = "0.15.0"
tree-sitter-go = "0.20.0"
tree-sitter-c-sharp = "0.20.0"
tree-sitter-python = "0.20.0"
tree-sitter-typescript = "0.20.0"
tree-sitter-bash = "0.20.0"
tree-sitter-php = "0.20.0"
tree-sitter-java = "0.20.0"
tree-sitter-scala = "0.20.0"
tree-sitter-ocaml = "0.20.0"
tree-sitter-html = "0.20.0"
tree-sitter-elixir = "0.1.1"
