[package]
name = "magitler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossterm = "0.27.0"
git2 = "0.18.1"
hex = "0.4.3"
ratatui = "0.24.0"
