[package]
name = "gitu"
description = "A git client inspired by Magit"
version = "0.6.2"
edition = "2021"
license = "MIT"

[[bench]]
name = "show"
harness = false

[dev-dependencies]
pretty_assertions = "1.4.0"
temp-dir = "0.1.12"
criterion = "0.5.1"
insta = "1.36.1"

[dependencies]
chrono = "0.4.34"
clap = { version = "4.5.1", features = ["derive"] }
crossterm = "0.27.0"
directories = "5.0.1"
figment = { version = "0.10.14", features = ["toml"] }
git2 = { version = "0.18.2", default-features = false }
itertools = "0.12.0"
log = "0.4.21"
ratatui = { version = "0.26.1", features = ["serde"] }
serde = { version = "1.0.152", features = ["derive"] }
similar = { version = "2.4.0", features = ["unicode", "inline"] }
simple-logging = "2.0.2"
strum = "0.26.1"
toml = "0.8.10"
tui-prompts = "0.3.5"
