name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache
      uses: actions/cache@v4.0.1
      with:
        path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Setup
      run: |
        rustup component add llvm-tools-preview
        cargo install --locked cargo-deny || true
        cargo install --locked grcov || true
        cargo install --locked cargo-machete || true
        cargo install --locked git-cliff || true

    - name: Build
      env: 
        CARGO_INCREMENTAL: 0
        RUSTFLAGS: '-Cinstrument-coverage'
        LLVM_PROFILE_FILE: 'cargo-test-%p-%m.profraw'

      run: ./build.sh

    - name: Coverage
      run: grcov . --binary-path ./target/debug/deps/ -s . -t lcov --branch --ignore-not-existing --ignore '../*' --ignore "/*" -o target/tests.lcov

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: altsem/gitu

  test:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache
      uses: actions/cache@v4.0.1
      with:
        path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Test
      run: cargo test
